.taskSummary {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #fff;
    color: #1c3c78;
    margin-top: 3rem;
}

.taskSummary p {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    gap: 0.5rem;
}

.taskSummary span {
    font-weight: 600;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .taskSummary {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .taskSummary p {
        font-size: 1rem;
    }

    .taskSummary span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 425px) {
    .taskSummary {
        border-radius: 0;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .taskSummary p {
        font-size: 0.7rem;
    }

    .taskSummary span {
        font-size: 1rem;
    }
}
