.button {
    align-items: center;
    background-color: #fff;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
}

.button:active {
    transform: scale(0.9);
}

.button:disabled {
    background-color: #d3d3d3;
    border: none;
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
}

.button:disabled:hover {
    background-color: #d3d3d3;
    color: #a9a9a9;
}

.button:disabled:active {
    transform: scale(1);
}

.green {
    background-color: #1b998b;
    color: #fff;
}

.green:hover {
    border-color: #1b998b;
    color: #1b998b;
    background-color: #fff;
}

.red {
    background-color: #d7263d;
    color: #fff;
}

.red:hover {
    border-color: #d7263d;
    color: #d7263d;
    background-color: #fff;
}

.violet {
    background-color: #2e294e;
    color: #fff;
}

.violet:hover {
    border-color: #2e294e;
    color: #2e294e;
    background-color: #fff;
}
