.addForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addForm input {
    font-size: 1rem;
    width: 100%;
    background-color: #e7e6f7;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease;
}

.addForm input:focus {
    outline: none;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    .addForm input {
        font-size: 0.8rem;
    }
}
