.container {
    border-radius: 10px;
    overflow: hidden;
    max-width: 768px;
    width: 100%;
    margin: 1rem auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 425px) {
    .container {
        border-radius: 0;
        margin: auto;
        width: 100%;
    }
}
