.taskList {
    background-color: #f9f9f9;
    font-size: 1.4rem;
    padding: 2rem;
    box-shadow: 8px 8px 23px -20px rgba(66, 68, 90, 1);
}

.taskList ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.taskList p {
    text-align: center;
}
