.taskList {
    background-color: #f9f9f9;
    font-size: 1.4rem;
    padding: 2rem;
    box-shadow: 8px 8px 23px -20px rgba(66, 68, 90, 1);
}

.taskList ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
}

.taskList p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .taskList {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .taskList {
        font-size: 1.2rem;
        padding: 0.5rem;
    }
}
