.taskListItem {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.taskListItem:hover {
    background-color: #f0f8ff;
    transform: translateY(-1px);
}

.text {
    padding: 1rem;
}

.complete {
    opacity: 0.5;
    text-decoration: line-through;
}

.panel {
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.panel span {
    font-size: 0.8rem;
    opacity: 0.7;
}

.buttons {
    display: flex;
    gap: 1rem;
}
