.taskListItem {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.taskListItem:hover {
    background-color: #f0f8ff;
    transform: translateY(-1px);
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

.buttons {
    display: flex;
    align-items: start;
    gap: 1rem;
}
