.heading {
    align-items: center;
    background-color: #fff;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
}

.heading img {
    width: 100%;
    max-width: 180px;
}

.heading h1 {
    color: #1c3c78;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .heading h1 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 425px) {
    .heading {
        flex-direction: column;
    }

    .heading h1 {
        font-size: 0.7rem;
    }
}
