.heading {
    text-align: center;
    padding: 2rem;
    background-color: #5f9ea0;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 530px) {
    .heading {
        font-size: 1.2rem;
    }
}
