.todayDate {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
}

.todayDate span {
    font-size: 1.1rem;
}

.todayDate span:first-child {
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .todayDate {
        padding: 0.7rem;
    }

    .todayDate span {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 425px) {
    .todayDate {
        padding: 0.5rem;
    }
}
